* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

:root{
    --smallgap: 1vw;
    --normalgap: 2vw;
    --biggap: 5vw;
    --doublegap: 7vw;

    --transparent: rgba(1, 1, 1, 0);
    --verylightgrey:#f1f1f1;
    --lightgrey:#D4D4D4;
    --yellowish: #d0d33a;
    --lightgreen: #A4C93C;
    --mediumlightgreen: #86ac1d;
    --mediumgreen:#568b2b;
    --mediumdarkgreen: #40661d;
    --darkgreen: #314D16;
    --almostblack: #0e1a04;
    --halfdark: rgba(14, 26, 4, 0.8);
    --pink: #7C324D;
}

html, body, div {
    margin:0;
    padding:0;
}

body {
    text-align: center;
    background: var(--lightgrey);
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    background: var(--darkgreen);
    font-size: 1.3vmin;
    /* background: var(--lightgrey); */
  }




/* div{
    border: black solid 2px;
    border-radius: 1rem;
} */

.contain-multitudes{
    width: 100%;
    height: 100vh;
    /* min-height: 98vh; */
    position: relative;

    /* display: flex;
    align-items: center;
    justify-content: center; */

    background: var(--darkgreen);
    background: -webkit-radial-gradient(top, var(--mediumgreen) 40%, var(--darkgreen) 70%);
    background: radial-gradient(at top, var(--mediumgreen) 40%, var(--darkgreen) 70%);
    padding-bottom: var(--biggap);

}

.contain-meaning{
    width: 70vw;
    max-width: 1200px;
    min-width: 95%;
    /* flex-basis: 90vh; */
    /* height: 80vh; */
    /* min-height: 80vh; */

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 5%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;

    background: var(--lightgrey);
    border-radius: 1rem;
    filter: drop-shadow(0 0 0.75rem var(--almostblack));

}

.contain-heads{
    width: 100%;
    /* flex-basis: 50%; */

    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;

    background: var(--lightgrey);
    background-image: url("images/moving-clover-long.gif");
    background-position: top left 10%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    border-radius: 1rem;
    padding-top: var(--biggap);


}


/* .hero{
    width:40%;
    min-width: 40%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center; */

    /* background: var(--lightgrey);
    background-image: url("images/moving-clover-long.gif");
    background-position: top left var(--normalgap);
    background-repeat: no-repeat;
    background-size: auto 100%; */
/* } */

/* .heading{
    width:60%;
    min-width: 60%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: bottom;
    justify-content: left;
} */

.title{
    width: 100%;
    height: 40%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    text-align: right;
    padding: var(--normalgap);
}

h1{
    font-family: 'Parisienne', cursive;
    font-size: 8vw;
    text-align: right;
    padding: 0;
    margin: 0;
    background-color: rgba(212, 212, 212, 0.2);
    filter: drop-shadow(-3px -3px 1px var(--lightgrey));
    border-radius: 10%;
}

.description{
    width: 100%;
    height: 60%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    text-align: right;
    padding: var(--biggap);
}


h3{
    background-color: rgba(212, 212, 212, 0.9);
    border-radius: var(--smallgap);
    margin: 0;
    font-size: 2.5vw;
    font-weight: normal;
}

.contain-menu{
    width: 100%;
    /* flex-basis: 50%; */

    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
    /* gap: -1px; */

    /* background: var(--yellowish); */
}

.menu-bar{
    width: 100%;
    height: 10vw;
    /* flex-basis: 20%; */

    display: flex;
    align-items: center;
    justify-content: center;

    flex: 2;
    flex-basis: auto;

    cursor: pointer;
}

.menu-bar:hover{
    box-shadow: 1px 0 0.75rem var(--darkgreen);
}

.menu-title{
    width: 30%;
    min-width: content;
    /* height: 100%; */

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Parisienne', cursive;
    font-size: 8vw;
    color: var(--verylightgrey);
}


/* Section colours */

#creat {
    background-color: var(--yellowish);
}

#face {
    background-color: var(--lightgreen);
}

#place {
    background-color: var(--mediumlightgreen);
}

#plant {
    background-color: var(--mediumgreen);
}

#shop {
    background-color: var(--mediumdarkgreen);
    width: 100%;
}

/* Footer */

.footer{
    /* height: 6rem; */
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    flex-shrink: 1;

    text-align: right;
    /* font-size: 1rem; */
    font-size: 2.5vw;
    padding: var(--normalgap);
    background-color: var(--darkgreen);
}


.footer a{
    color: var(--lightgrey);
    text-decoration: none;
    cursor: pointer;
}

.footer a:hover,
.footer a:focus
.footer a:visited{
    color: var(--yellowish);
    text-decoration: none;
}

.social-icon{
    margin-left: var(--smallgap);
}

.social-icon img{
    margin-top: var(--smallgap);
    height: 1vmin;
    margin-bottom: -0.1rem;
    display: inline-block;
}

/* Small sizes */
/* @media (max-width: 500px) {
    html, body, div {
        margin:0;
        padding:0;
        font-size: 2vmin;
    }



    .social-icon img{
        margin-top: var(--smallgap);
        margin-bottom: -0.1rem;
        display: inline-block;
    }
} */