* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

:root{
    --smallgap: 1vw;
    --normalgap: 2vw;
    --biggap: 5vw;
    --doublegap: 7vw;
    --vminwhenbig: 10.5px;

    --transparent: rgba(1, 1, 1, 0);
    --verylightgrey:#f1f1f1;
    --lightgrey:#D4D4D4;
    --yellowish: #d0d33a;
    --lightgreen: #A4C93C;
    --mediumlightgreen: #86ac1d;
    --mediumgreen:#568b2b;
    --mediumdarkgreen: #40661d;
    --darkgreen: #314D16;
    --almostblack: #0e1a04;
    --halfdark: rgba(14, 26, 4, 0.8);
    --pink: #7C324D;
}

html, body, div {
    margin:0;
    padding:0;
}

body {
    text-align: center;
    background: var(--lightgrey);
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    background: var(--darkgreen);
  }

.contain-multitudes{
    width: 100%;
    height: 100vh;
    position: relative;

    background: var(--darkgreen);
    background: -webkit-radial-gradient(circle top, var(--mediumgreen) 40%, var(--darkgreen) 70%);
    background-image: radial-gradient(circle at top, var(--mediumgreen) 40%, var(--darkgreen) 70%);
    background-repeat: no-repeat;
}

.contain-meaning{
    width: 90%;
    max-width: 1200px;

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 5%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;

    background: var(--lightgrey);
    border-radius: 1rem;
    filter: drop-shadow(0 0 0.75rem var(--halfdark));

}

.contain-heads{
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;

    background: var(--lightgrey);
    background-image: url("images/moving-clover-long.gif");
    background-position: top left 10%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    border-radius: 1rem;
    padding-top: var(--biggap);
}

.title{
    width: 100%;
    height: 40%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    text-align: right;
    padding: var(--normalgap);
}

h1{
    font-family: 'Parisienne', cursive;
    font-size: 8vw;
    text-align: right;
    padding: 0;
    margin: 0;
    background-color: rgba(212, 212, 212, 0.2);
    filter: drop-shadow(-3px -3px 1px var(--lightgrey));
    border-radius: 10%;
}

.description{
    width: 100%;
    height: 60%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    text-align: right;
    padding: var(--biggap);
}


h3{
    background-color: rgba(212, 212, 212, 0.9);
    border-radius: var(--smallgap);
    margin: 0;
    font-size: 2.5vw;
    font-weight: normal;
}

.contain-menu{
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
}

.menu-bar{
    width: 100%;
    height: 10vmin;

    display: flex;
    align-items: center;
    justify-content: center;

    flex: 2;
    flex-basis: auto;

    cursor: pointer;
}

.menu-bar:hover{
    box-shadow: 1px 0 0.75rem var(--halfdark);
    transition: .5s ease;
}

.menu-title{
    width: 30%;
    min-width: content;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Parisienne', cursive;
    font-size: 5.5vw;
    color: var(--verylightgrey);
}


/* Section colours */
#creat {
    background-color: var(--yellowish);
}

#face {
    background-color: var(--lightgreen);
}

#place {
    background-color: var(--mediumlightgreen);
}

#plant {
    background-color: var(--mediumgreen);
}

#shop {
    background-color: var(--mediumdarkgreen);
    width: 100%;
}

/* Thumbnails and modals */

.pictures{
    width: 100%;
    padding: var(--normalgap) var(--normalgap) var(--doublegap) var(--normalgap);
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: space-between;
    align-content: space-between;
    gap: var(--normalgap);
    text-align: center;
}
.clicky{
    height: 180px;
    background-position: center;
    background-repeat:  no-repeat;
    background-size: contain;
    flex-basis: 180px;
    position: relative;
    display: inline-block;
}

.clicky::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--lightgrey);
    opacity: 0;
    transition: .5s ease;
}

.clicky:hover{
    cursor: pointer;
    box-shadow: 1px 0 0.75rem var(--halfdark);
    transition: .5s ease;
}

.clicky:hover::before {
    opacity: 0.23;
}

.content {
    display: none;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--halfdark);
}

.modal-content {
    position: fixed;
    height: 100vh;
    width: 100vw;

    display:flex;
    justify-content: center;
    align-items: center;
}

.modal-content img{

    max-height: 90vh;
    max-width: 90vw;
}

.prev,
.next {
    display:flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    position: absolute;
    top: 0;
    height: 100vh;
    width: auto;
    padding: var(--normalgap);
    color: white;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

.prev:hover,
.next:hover {
    background-color: var(--halfdark);
}

/* Shop */
#shop .pictures{
    justify-content: space-between;
    /* padding: var(--smallgap)  calc(var(--doublegap) * 2)  var(--normalgap)  var(--doublegap); */
    justify-content: center;
    align-items: center;
    gap: var(--normalgap);
    text-align: center;
}

.selfportrait{
    height: 350px;
    width: auto;
    margin: var(--smallgap);
}

#textbox{
    flex-basis: 50%;
    max-width: 100%;
    color: var(--lightgrey);
    text-align: right;
}

#textbox a{
    color: var(--lightgreen);
    text-decoration: none;
    cursor: pointer;
}

#textbox a:hover,
#textbox a:focus
#textbox a:visited{
    color: var(--yellowish);
    text-decoration: none;
    transition: .5s ease;
}

#textbox img{
    margin-left: var(--normalgap);
    margin-top: var(--normalgap);
}

/* Footer */
.footer{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    flex-shrink: 1;

    text-align: right;
    font-size: 2.5vw;
    padding: var(--normalgap);
    background-color: var(--darkgreen);
}


.footer a{
    color: var(--lightgrey);
    text-decoration: none;
    cursor: pointer;
}

.footer a:hover,
.footer a:focus
.footer a:visited{
    color: var(--yellowish);
    text-decoration: none;
    transition: .5s ease;
}

.social-icon{
    margin-left: var(--smallgap);
}

.social-icon img{
    margin-top: var(--smallgap);
    height: 1vmin;
    margin-bottom: -0.1rem;
    display: inline-block;
}

/* Small sizes */
@media (max-width: 770px) {
    .contain-meaning{
        width: 90%;

        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 15%;
    }
    .prev,
    .next {
    font-size: 5rem;
    }
}

/* Large sizes */
@media (min-width: 1050px) {
    .contain-meaning{
        width: 60%;
    }

    body {
        font-size: calc(1.5 * var(--vminwhenbig));
    }
    h1{
        font-size: calc(8 * var(--vminwhenbig));
    }
    h3{
        font-size: calc(2.5 * var(--vminwhenbig));
    }
    .menu-bar{
        height: calc(8 * var(--vminwhenbig));
    }
    .menu-title{
        font-size: calc(6 * var(--vminwhenbig));
    }
    .footer{
        font-size: calc(1.5 * var(--vminwhenbig));
    }
  }
